@media (min-width: 768px) {
    nav {
        justify-content: center;
    }

    .nav-menu {
        display: flex !important;
        justify-content: center;
        width: 100%;
        max-width: 900px;
        position: static;
        flex-direction: row;
        /* PC時は横並び */
    }

    .hamburger {
        display: none !important;
    }

    header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 20px;
    }
}