@media (min-width: 768px) {

    nav {
        justify-content: center;
    }

    nav ul {
        display: flex !important;
        justify-content: center;
        width: 100%;
    }

    .hamburger {
        display: none !important;
    }

    header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 20px;
    }
}